<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nic.mapper.AssetMapper" >
  <resultMap id="BaseResultMap" type="com.nic.pojo.Asset" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="buy_time" property="buyTime" jdbcType="TIMESTAMP" />
    <result column="oem" property="oem" jdbcType="VARCHAR" />
    <result column="installation_time" property="installationTime" jdbcType="TIMESTAMP" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="warranty_time" property="warrantyTime" jdbcType="TIMESTAMP" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, model, status, brand, buy_time, oem, installation_time, address, warranty_time, 
    ip
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from asset
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from asset
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nic.pojo.Asset" >
    insert into asset (id, name, model, 
      status, brand, buy_time, 
      oem, installation_time, address, 
      warranty_time, ip)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{brand,jdbcType=VARCHAR}, #{buyTime,jdbcType=TIMESTAMP}, 
      #{oem,jdbcType=VARCHAR}, #{installationTime,jdbcType=TIMESTAMP}, #{address,jdbcType=VARCHAR}, 
      #{warrantyTime,jdbcType=TIMESTAMP}, #{ip,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nic.pojo.Asset" >
    insert into asset
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="model != null" >
        model,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="brand != null" >
        brand,
      </if>
      <if test="buyTime != null" >
        buy_time,
      </if>
      <if test="oem != null" >
        oem,
      </if>
      <if test="installationTime != null" >
        installation_time,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="warrantyTime != null" >
        warranty_time,
      </if>
      <if test="ip != null" >
        ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="brand != null" >
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="buyTime != null" >
        #{buyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oem != null" >
        #{oem,jdbcType=VARCHAR},
      </if>
      <if test="installationTime != null" >
        #{installationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="warrantyTime != null" >
        #{warrantyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nic.pojo.Asset" >
    update asset
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="model != null" >
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="brand != null" >
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="buyTime != null" >
        buy_time = #{buyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="oem != null" >
        oem = #{oem,jdbcType=VARCHAR},
      </if>
      <if test="installationTime != null" >
        installation_time = #{installationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="warrantyTime != null" >
        warranty_time = #{warrantyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nic.pojo.Asset" >
    update asset
    set name = #{name,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      brand = #{brand,jdbcType=VARCHAR},
      buy_time = #{buyTime,jdbcType=TIMESTAMP},
      oem = #{oem,jdbcType=VARCHAR},
      installation_time = #{installationTime,jdbcType=TIMESTAMP},
      address = #{address,jdbcType=VARCHAR},
      warranty_time = #{warrantyTime,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>